.container {
  display: grid;
  grid-template-columns: 2fr 4fr;
  width: 510px;
  margin-inline: auto;
  align-items: end;
  justify-content: start;
  padding: var(--gap-l);
  column-gap: var(--gap-l);
  row-gap: var(--gap-xl);
}

.container :nth-child(1) {
  width: 150px;
}
.container :nth-child(3) {
  grid-column: span 2;
  margin: auto;
}

.container :nth-child(4) {
  grid-column: span 2;
  margin: auto;
}
