.table {
  border-collapse: collapse;
}

.table tr {
  border-bottom: 1px solid #999;
}

.table thead tr th {
  text-align: left;
  text-transform: uppercase;
  font-weight: bold;
  padding: 1rem 0;
}

.table tbody tr td {
  padding: 1rem 0;
}
