.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  row-gap: var(--gap-s);
}

.container input {
  padding: var(--gap-m);
  font-size: var(--gap-l);
  outline-color: var(--detail-color);
  border: 1px solid var(--text-contrast);
  border-radius: 2px;
}

.container input::selection {
  color: #fff;
  background-color: var(--detail-color);
}

.info {
  display: flex;
  justify-content: space-between;
}

.info label {
  text-transform: uppercase;
}
