.form {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  flex-wrap: wrap;
  align-items: end;
  max-width: 865px;
}

.form input {
  padding-left: 1rem;
  padding-right: 1rem;
}


.form > div {
  max-width: 150px;
}


