.container {
  width: 510px;
  margin-inline: auto;
  padding: var(--gap-l);
}

.content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  row-gap: var(--gap-l);
  column-gap: 1rem;
  text-transform: uppercase;
  font-size: 14px;
}

.content div:nth-child(1) {
  grid-column: span 2;
}
.content div:nth-child(2) {
  grid-column: span 1;
}
.content div:nth-child(3) {
  grid-column: span 1;
}
.content div:nth-child(4) {
  grid-column: span 1;
}
.content div:nth-child(5) {
  grid-column: span 1;
}
.content div:nth-child(6) {
  grid-column: span 1;
}
.content div:nth-child(7) {
  grid-column: span 2;
}

.content div {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  row-gap: var(--gap-sm);
}

.content div p:nth-child(2) {
  width: 100%;
  overflow: hidden;
  border: 1px solid var(--icons-color);
  padding: var(--gap-s);
  border-radius: 2px;
}
