.login {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: var(--gap-l);
    width: 200px;
    border-left: 1px groove var(--icons-color);
    height: 30%;
    cursor: pointer;
  }
  
  .login p {
    font-weight: 500;
    color: var(--icons-color);
  }