.container {
  width: 450px;
  display: flex;
  flex-direction: column;
  row-gap: var(--gap-xl);
  justify-content: center;
  align-items: center;
  padding: var(--gap-l);
}

.container button {
  width: 200px;
}
